<%= form_with model: product do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>